/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
 @import 'tailwindcss/base';
 @import 'tailwindcss/components';
 @import 'tailwindcss/utilities';
 /**
  * END --- SETUP TAILWINDCSS EDIT
  */

@mixin heightauto(){
   height: auto;
    min-height: 70vh;
}


  .logo {
   margin-left:1rem;
   margin-bottom:1rem;
  }

  .cards-home {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -ms-flex-pack: distribute;
     justify-content: space-around;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
     margin: 4rem 0;
     .max-w-sm {
       width: 300px;
     }

 }

 .searchInput {
   border: 1px solid;
   margin: 1rem;
 }

 .main {
   @include heightauto();

   &__estudiantes {
       @include heightauto();
   }

   &__programas {
       @include heightauto();
   }

 }

 a.rw-button.rw-button-green.btn-new {
   max-width: 180px;
   margin: 1rem;
}

 footer {
    height: 119px;
 }


 @media(max-width:1080px) {

    .cards-home {
       -webkit-box-orient: vertical;
       -webkit-box-direction: normal;
       -ms-flex-flow: column nowrap;
       flex-flow: column nowrap;
    }

    .max-w-sm {
       margin: 2rem 0;
    }
    #toggleMenu {
      &>div {
         padding-left: 1rem;
      }
    }

 }